body {
    background-color: aqua;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.mainDiv {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;


}

.mainDiv div {
    border: 1px solid white;
    background-color: darkblue;
}


.mainDiv .colorHover {
    background-color: white;
}

button {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin: 5px;

}
