body {
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.mainDiv {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 900px;

}

.mainDiv div {
    border: 1px solid white;
    background-color: darkblue;
    flex: 1 0 auto;
}


.mainDiv .colorHover {
    background-color: white;
}

button {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin: 5px;

}
